.item-add-form
	border: 1px solid #17a2b8
	margin-top: 10px
	padding: 0.3rem
	.form-control
  		flex-grow: 1
	.form-description
		font-size: 0.8rem
	button
  	margin-left: 5px
	.item-add-form-wrapper
		display: flex
	.item-add-form-date
		margin-left: 0.3rem
	.item-add-form-label
		display: flex
		margin-left: 0.3rem
		span
			line-height: 2.5
	.add-task-btn
		height: 40px
	.item-add-form-time-select
		height: 40px